body {
    background: url(../images/fondolasaña.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100%;
    
    
}

.caja-padre {
    width: 270px;
    height: 87px;
    position: relative;
    left: 38%;
}

.caja {
    position: absolute;
    margin: 0px 0px center;
    background: transparent;
    width: 222.2px;
} 

.pcaja {
    font-size: 50px;
    width: 600px;
    height: 300px;
    position: relative;
    top: 100px;
    bottom: 0;
    right: o;
    left: 26%;
}

    button {
        background: rgb(155, 85, 47);
    }

.acaja {
    width: 363px;
    height: 21px;
    position: absolute;
    top: 60px;
    
    
}
    